name: Copy PowerApp Solution

on:
  workflow_dispatch:

jobs:
  copy-solution:
    runs-on: windows-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install Power Platform CLI
      uses: microsoft/powerplatform-actions/actions-install@v1

    - name: Login to Power Platform
      run: |
        pac auth create `
          --tenant ${{ secrets.TENANT_ID }} `
          --clientId ${{ secrets.CLIENT_ID }} `
          --clientSecret ${{ secrets.CLIENT_SECRET }} `
          --environment ${{ secrets.ENV_URL }}
